{% extends "layout.html" %}
{% block title %}
History
{% endblock %}
{% block content %}
<!-- <script>var user_appoint = {{user_appoint | safe}}; console.log(user_appoint); </script> -->

<table class="table">
    <thead>
      <tr class="text-danger">
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Client</th>
        <th scope="col">Sevice</th>
        <th scope="col">Status</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody class="text-white">

        {% for appointment in user_appoint %}
        <tr class="my-table-hover">
            <th scope="row">{{appointment[9]}}/{{appointment[10]}}</th>
            <td>{{appointment[11]}} :
                {% if appointment[12] == 0 %}
                00
                {% else %}
                {{appointment[12]}}
                {% endif %}
            </td>
            <td>{{appointment[7]}}</td>
            <td>{{appointment[1]}}</td>
            <td>
                {% if appointment[4] == 0 %}
                    Done
                {% else %}
                    Canceled
                {% endif %}
            </td>
            <td>form</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>


{% endblock %}