{% extends "layout.html" %}

{% block custom_styles %}
<link href="{{ url_for('static', filename='/css/all_appointments.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
Appointments
{% endblock %}
{% block content %}
<script>var user_appointments_for_frontend = {{ user_appointments_for_frontend | safe}};</script>
<div class="modal fade text-dark" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form action="/edit_appointment/" method="post">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Edit appointment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span class="mb-1" id="date_edit"></span>, <span class="mb-1" id="service_edit"></span> for <span class="mb-1"
            id="client_edit"></span>
          <div class="row mb-1 ml-1">

            <label class="mx-1 px-1 col-md-auto" for="new_date">Date</label>
            <input class="col" type="datetime-local" name="new_date" id="new_date">


          </div>

          <div class="row mb-1 ml-1">
            <span class="mx-1 px-1 col-4"> Duration (min)</span>
            <input class="col-4" type="number" min="0" max="300" name="new_duration" id="new_duration">

          </div>
          {% for service in services %}
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="{{service.name}}" name="{{service.name}}">
            <label class="form-check-label" for="{{service.name}}">{{service.name}}</label>
          </div>
          {% endfor %}

          <div class="form-group">
            <label for="new_message" class="col-form-label">Message:</label>
            <textarea class="form-control" id="new_message" name="new_message"
              placeholder="add message if needed"></textarea>
          </div>

        </div>
        <input type="text" name="user_id_edit" id="user_id_edit" hidden>
        <input type="text" name="booking_id_edit" id="booking_id_edit" hidden>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">go back</button>
          <button type="submit" class="btn btn-danger">save</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal fade text-dark" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form action="/cancel_appointment/" method="post">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cancelModalLabel">Cancel appointment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span id="date_cancel"></span>, <span id="service_cancel"></span> for <span id="client_cancel"></span>
          <div class="form-group">
            <label for="cancel_message" class="col-form-label">Message:</label>
            <input class="form-control" id="cancel_message" name="cancel_message"
              placeholder="can you please write about reasons">
          </div>

        </div>
        <input type="text" name="user_id_cancel" id="user_id_cancel" hidden>
        <input type="text" name="booking_id_cancel" id="booking_id_cancel" hidden>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No, go back</button>
          <button type="submit" class="btn btn-danger">Delete this booking forever</button>
        </div>
      </div>
    </form>
  </div>
</div>


<div class="modal fade text-dark" id="doneModal" tabindex="-1" role="dialog" aria-labelledby="doneModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form action="/done_appointment/" method="post">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="doneModalLabel">Success</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span id="date_done"></span>, <span id="service_done"></span> for <span id="client_done"></span>
        </div>
        <input type="text" name="user_id_done" id="user_id_done" hidden>
        <input type="text" name="booking_id_done" id="booking_id_done" hidden>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No, go back</button>
          <button type="submit" class="btn btn-danger">ok, it is finished</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal fade text-dark" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form action="/confirm_appointment/" method="post">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmModalLabel">Confirm appointment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span id="date_confirm"></span>, <span id="service_confirm"></span> for <span id="client_confirm"></span>
        </div>
        <input type="text" name="user_id_confirm" id="user_id_confirm" hidden>
        <input type="text" name="booking_id_confirm" id="booking_id_confirm" hidden>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No, go back</button>
          <button type="submit" class="btn btn-danger">Confirm booking</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="{{ url_for('static', filename='/js/all_appointments.js') }}"></script>

{% endblock %}