{% extends "layout.html" %}
{% block title %}
Appointsments
{% endblock %}
{% block content %}
<script>var user_appoint = {{user_appoint | safe}}; console.log(user_appoint); </script>

<table class="table">
    <thead>
      <tr class="text-danger">
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Sevice</th>
        <th scope="col">Duration</th>
        <th scope="col">Aproved</th>
        <th scope="col">Cancel</th>
      </tr>
    </thead>
    <tbody class="text-white">

        {% for appointment in user_appoint %}
        <tr class="my-table-hover">
            <th scope="row">{{appointment[7]}}/{{appointment[8]}}</th>
            <td>{{appointment[9]}} :
                {% if appointment[10] == 0 %}
                00
                {% else %}
                {{appointment[10]}}
                {% endif %}
            </td>
            <td>{{appointment[0]}}</td>
            <td>{{appointment[5]}} min</td>
            <td>
                {% if appointment[3] == 0 %}
                    ...not yet
                {% else %}
                    Aproved
                {% endif %}
            </td>
            <td>
                <form action="/appointments/" method="post">
                    <input type="hidden" name="slot_id" value={{appointment[1]}}>
                    <input type="submit" value="CANCEL">
                </form>
            </td>
          </tr>
        {% endfor %}
    </tbody>
  </table>


{% endblock %}