{% extends "layout.html" %}
{% block title %}
Phone confirmation
{% endblock %}
{% block content %}

<script src="{{ url_for('static', filename='/js/booking_sms_confirmation_code.js') }}"></script>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        
            {% for category, message in messages %}
            {% if category == "error" %}
              <div class=" form-control p-2 bg-warning text-dark mt-4">
                <p class="text-dark p-0 m-0 ">{{ message }}</p>
              </div>
            {% endif %}
            {% endfor %}
        
        {% endif %}
    {% endwith %}
<h1 class="mt-2 text-start" >Enter code  </h1>
<P class="w-25">we sent to you from {{twilio_phone_from}}</P>
<form class="form-group" id="confirmation_code" action="/confirmation-code" method="post">

    {{ form.csrf_token }}
    {{ form.appointment_id }}

    <div class="form-floating"></div>
      {{ form.code(class="form-control w-25") }}
      
    </div>
        
   
      <button 
        type="submit" 
        class="btn btn-primary w-10 mt-2" 
        id="submit_code"
        disabled>
        Send code
      </button>
 

</form>
<a style="text-align: center" href="/"><h2>Home</h2></a>
{% endblock %}