{% extends "layout.html" %}
{% block title %}
Clients
{% endblock %}
{% block content %}
<script>var clients = {{clients | safe}};</script>

<table class="table">
    <thead>
      <tr class="text-danger">
        <th scope="col">Name</th>
        <th scope="col">Instagram</th>
        <th scope="col">Tel</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody class="text-white">

        {% for client in clients %}
        <form>
            <input type="submit">
            <tr class="my-table-hover">
                <th scope="row">{{client[0]}}</th>
                <td>{{client[1]}}</td>
                <td>{{client[2]}}</td>
                <td>{{client[3]}}</td>
            </tr>
        
        </form>

        {% endfor %}
    </tbody>
  </table>


{% endblock %}