{% extends "layout.html" %}
{% block title %}
Contact
{% endblock %}

{% block custom_styles %}
<style>
    h1 {margin: 1em; }
    .container {max-width: 30em;}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1>contacts</h1>
    <h4><a class="link-light  link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="https://www.instagram.com/kika.nails.nails/">Elizaveta via instagram direct</a></h4>

    <h4><a class="link-light  link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="https://t.me/cootook">Tech suppirt via Telegram </a></h4>
    <h4><a class="link-light  link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="mailto:cootook@gmail.com">Tech suppirt via email </a></h4>

</div>

{% endblock %}