{% extends "layout.html" %}

{% block custom_styles %}
<link href="{{ url_for('static', filename='/css/all_appointments.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
Delete service
{% endblock %}
{% block content %}
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Service</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
        {% for service in services_list %}
        <tr>
            <td>{{ service["name"] }}</td>
            <td>{{ service["description"] }}</td>
        </tr>
        {% endfor%}
    </tbody>
  </table>
<div class="form-group mt-3">
    <form action="/delete_service/" method="post">
        
        <input hidden type="text" id="service_id" name="service_id" value="{{ services_list[0]['id'] }}">
        
        <button class="btn btn-primary my-2" type="submit">delete</button>
        <a href="/add_service/" class="btn btn-primary my-2" >cancel</a>
    
    </form>
</div>

{% endblock %}