{% extends "layout.html" %}

{% block custom_styles %} 
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='/css/calendar.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
Liza Nail Studio
{% endblock %}

{% block content %}
<script> var action_path = "/book/"; var slots = {{slots}}; </script>
<script src="{{ url_for('static', filename='/js/index.js') }}"></script>

{% include 'calendar.html' %}
<div class="modal fade" id="book_confirm_modal" tabindex="-1" role="dialog" aria-labelledby="book_confirm_modal_lable" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form id="book_form" action="/book/" method="post">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="book_confirm_modal_lable">Confirm request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                  
          <input type="hidden" name="minute" id="minute_input" value="">
          <input type="hidden" name="hour" id="hour_input" value="">
          <input type="hidden" name="date" id="date_input" value="">
          <input type="hidden" name="month" id="month_input" value="">
          <input type="hidden" name="year" id="year_input" value="">
            
           <span id="time_book"> </span>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="manicure" name="manicure">
            <label class="form-check-label" for="manicure">manicure</label>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="pedicure" name="pedicure">
            <label class="form-check-label" for="pedicure">pedicure</label>
          </div>

          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text" name="message-text"></textarea>
          </div>
      </div>
      <div class="g-recaptcha" data-sitekey="{{ SITE_KEY_RECAPTCHA }}" data-callback="enable_submit_book" data-expired-callback="disable_submit_book"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button 
          type="submit" 
          class="btn btn-primary" 
          id="submit_booking_btn"
          disabled>
          Request appointment
        </button>
      </div>
    </div>
    </form>
  </div>
</div>
{% endblock %}