{% extends "layout.html" %}

{% block custom_styles %} 
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='/css/calendar.css') }}" rel="stylesheet">
  <style>
    .btn-calendar {
      background-color: lightgreen;
      color: black;
      height: 2em;
      vertical-align: middle;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 0.2em;
    }
  </style>
{% endblock %}

{% block title %}
Liza Nail Studio
{% endblock %}

{% block content %}
<script>
  var action_path = "/book/"; var slots = {{slots}}; 
  // <!-- recaptcha -->
  function onSubmit(token) {
    document.getElementById("book_form").submit();
  }
  // <!--   -->
  document.addEventListener("DOMContentLoaded", () => {
    $('#book_confirm_modal').on('show.bs.modal', function (event) {
      var slot_to_book = $(event.relatedTarget) // Button that triggered the modal
      var minute_modal = slot_to_book.data('minute')
      var hour_modal = slot_to_book.data('hour')
      var date_modal = slot_to_book.data('date')
      var month_modal = slot_to_book.data('month')
      var year_modal = slot_to_book.data('year')
      var modal_time_full = slot_to_book.data('full')
      // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this)
      modal.find('#minute_input').val(minute_modal)
      modal.find('#hour_input').val(hour_modal)
      modal.find('#date_input').val(date_modal)
      modal.find('#month_input').val(month_modal)
      modal.find('#year_input').val(year_modal)
      modal.find('#time_book').text(modal_time_full)


      console.log("index# $")
    })
  })




</script>

{% include 'calendar.html' %}
<div class="modal fade" id="book_confirm_modal" tabindex="-1" role="dialog" aria-labelledby="book_confirm_modal_lable" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form id="book_form" action="/book/" method="post">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="book_confirm_modal_lable">Confirm request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                  
          <input type="hidden" name="minute" id="minute_input" value="">
          <input type="hidden" name="hour" id="hour_input" value="">
          <input type="hidden" name="date" id="date_input" value="">
          <input type="hidden" name="month" id="month_input" value="">
          <input type="hidden" name="year" id="year_input" value="">
            
           <span id="time_book"> </span>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="manicure" name="manicure">
            <label class="form-check-label" for="manicure">manicure</label>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="pedicure" name="pedicure">
            <label class="form-check-label" for="pedicure">pedicure</label>
          </div>

          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text" name="message-text"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary g-recaptcha" 
          data-sitekey="6LexJEspAAAAAFMN458y0nNX21V0de7a-DATAJzo" 
          data-callback='onSubmit' 
          data-action='submit'>
          Request appointment
        </button>
      </div>
    </div>
    </form>
  </div>
</div>
{% endblock %}