{% extends "layout.html" %}

{% block title %}
Sign In 
{% endblock %}

{% block content %}
<div class="signin-container">
        <form class="form-signin" action="/signin/" method="POST" id="signin-form">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        
            <div class="form_input">
                <input type="email" class="form-control" id="login" name="login" placeholder="name@example.com">
                <label for="login">Email address</label>
            </div>
            <div class="form_input">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <label for="password">Password</label>
            </div>
        
            <div class="checkbox mb-3">
                <input class="form-check-input" type="checkbox" name="remember" value="remember" checked> 
                <label for="remember">  Remember me  </label>
            </div>
            <div class="g-recaptcha" data-sitekey="{{ SITE_KEY_RECAPTCHA }}" data-callback="set_is_recaptcha_true" data-expired-callback="set_is_recaptcha_false"></div>
            <button class="w-100 btn btn-lg btn-primary" type="submit" id="signin-submit" disabled>Sign in</button>
        </form>
</div>

<script src="{{ url_for('static', filename='/js/signin.js') }}"></script>

{% endblock %}